.active {
    fill: #f44336;
}

.inactive {
    fill: rgba(255, 255, 255, 0.02);
}

.clock {
    max-width: 60px;
    max-height: 120px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.stopwatch {
    width: 20px;
    height: 40px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.timer {
    width: 20px;
    height: 40px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.dialog {
    width: 25px;
    height: 50px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
