.active {
    fill: #f44336;
}

.inactive {
    fill: rgba(255, 255, 255, 0.02);
}

.clock {
    @media screen and (max-width: 480px) {
        width: 30px;
        height: 60px;
        margin-left: 0.4rem;
        margin-right: 0.4rem;
    }
    @media screen and (min-width: 480px) and (max-width: 600px) {
        width: 30px;
        height: 60px;
        margin-left: 0.6rem;
        margin-right: 0.6rem;
    }
    @media screen and (min-width: 600px) and (max-width: 800px) {
        width: 40px;
        height: 80px;
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }
    @media screen and (min-width: 800px) {
        width: 50px;
        height: 100px;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.stopwatch {
    width: 20px;
    height: 40px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.timer {
    width: 20px;
    height: 40px;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.dialog {
    width: 25px;
    height: 50px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
