.active {
    fill: #f44336;
}

.inactive {
    fill: #000;
}

.clock {
    max-width: 60px;
    max-height: 120px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.stopwatch {
    width: 20px;
    height: 40px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.timer {
    width: 15px;
    height: 30px;
    margin-left: 0.35rem;
    margin-right: 0.35rem;
}

.dialog {
    width: 12px;
    height: 24px;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}
