.action-button {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.card-actions {
    display: flex;
    justify-content: center;
}
.timer {
    width: 300px;
    @media screen and (max-width: 600px) {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    @media screen and (min-width: 600px) {
        margin: 1.2rem;
    }
}
.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    height: 180px;
}
